* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #6cdbeb;
}
.statuses{
  display: flex;
  flex-direction: row;
}

.todo, .during, .done{
  display: flex;
  flex-direction: column;
}

h1 {
  color: #426696;
  font-weight: 1000;
  margin-left: 10px;
  font-size: 20px;
}
h2,
p {
  color: #658ec6;
  font-weight: 500;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

h3 {
  color: #426696;
  font-weight: 600;
  font-size: 16px;
  margin-top: 10px;
}

main {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: left;
  padding-left: 50px;
  padding-top: 20px;
  margin: auto;
}

.glass {
  min-height: 80vh;
  width: 60%;

  display: flex;
}

.dashboard {
  flex: 1;
  display: flex;
  flex-direction: column;

  text-align: center;
  padding: 20px 10px;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
  border-radius: 2rem;
  /* height: 570px; */
  height:max-content;
  /* width:min-content; */
  
  margin-bottom: 15px;
}

a:link{
  text-decoration: none;
}

.link {
  display: flex;
  margin: 10px 0px;
  padding: 10px 20px;
  align-items: center;
}
.link h2 {
  padding: 0rem 40px;
  min-width: 190px;
}

.link img{
    width: 40px;
    height: 40px;
}

.tasks {
  flex: 2;
}

.autorzy {
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  border-radius: 2rem;
  color: white;
  padding: 1rem;
  position: relative;
  margin:20px;
}

.autorzy h2 {
  color: white;
  font-weight: 600;
}

/* tasks */
.task-state {
  margin-bottom: 10px;
  min-width: 230px;
}

.tasks {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  min-width: 300px;
}

.card {
  display: flex;
  background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.5)
  );
  border-radius: 1rem;
  margin: 10px 10px;
  padding: 20px;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
  flex-direction: column;
  min-width: 300px;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.card-info h2{
  padding-bottom: 20px;
  font-weight: 1000;
}


.delete-task {
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  background: linear-gradient(to right top, #57c0ad, #6cdbeb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dropbtn {
  color: #658ec6;
  font-weight: 500;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  border: none;
  cursor: pointer;
  background-color: transparent;
  float: right;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
  border-radius: 10px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: #658ec6;
  font-weight: 500;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  border-radius: 10px;}

.dropdown:hover .dropdown-content {
display: block;
}

/* DODAJ ZADANIE FORMULARZ */

input[type=submit], .mini-stopka p {
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  border-radius: 2rem;

  border: 2px solid #65dfc9;

  color: #426696;
  margin-left: 30px;
  margin-right: 30px;


  font-family: "Poppins", sans-serif;
  
  padding: 20px 40px 20px 40px;
  font-size: 18px;
  font-weight: 800;
}

input[type=date]{
  padding-right: 20px;
}

input[type=date]:focus, input[type=number]:focus, 
textarea{
  outline: none;
}

input[type=number], input[type=date]{
  min-width: 270px;
  min-height: 50px;
  text-align: center;
  outline:none;
  
  color: #658ec6;
  font-weight: 500;
  font-size: 16px;

  border-radius: 2rem;

  border: 2px solid #65dfc9;
}



textarea{
  color: #658ec6;
  font-weight: 500;
  padding: 16px;
  border-radius: 2rem;

  border: 2px solid #65dfc9;
}

.mini-stopka{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* width: max-content; */
}

.mini-stopka p {
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  border-radius: 2rem;
 
  border: 2px solid #65dfc9;

  padding: 20px 20px 20px 20px;
  font-size: 14px;
  font-weight: 800;
}

a:stopka-link{
  text-decoration: none;
}

.stopka-link {
  display: flex;
  padding: 10px 10px;
  align-items: center;
}
.stopka-link h2 {
  padding: 0rem 10px;
  
  font-weight: 500;
  font-size: 16px;
}

.stopka-link img{
    width: 40px;
    height: 40px;
}

/* LOGOWANIE */

.marketing h1{
  color: #658ec6;
  font-size: 17px;
}

.logging{
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.logging hr{
  margin-top: 12px;
}

.logging h1{
  margin-right: 10px;
}

table.center {
  margin-left: auto;
  margin-right: auto;

}

table.center h3{
  margin: 5px;
}

input[type=text], input[type=password]{
  text-align: left;
  padding: 0px 15px 0px 15px;
  margin: 5px;
  color: #658ec6;

  font-size: 13px;
  font-weight: 500;

  border-radius: 2rem;

  border: 2px solid #65dfc9;

  min-width: 270px;
  min-height: 50px;

  outline:none;

}


/* AUTOFILL Z CHROME */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

input:-webkit-autofill {
  -webkit-text-fill-color:  #658ec6;
}

