* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .statuses{
    display: flex;
    flex-direction: row;
  }
  
  .todo, .during, .done{
    display: flex;
    flex-direction: column;
  }
  
  h1 {
    color: #426696;
    font-weight: 600;
    margin-left: 10px;
    font-size: 20px;
  }
  h2,
  p {
    color: #658ec6;
    font-weight: 500;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
  }
  
  h3 {
    color: #426696;
    font-weight: 600;
    font-size: 16px;
  }
  
  main {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background-color: #6cdbeb;
    display: flex;
    justify-content: left;
    padding-left: 50px;
    padding-top: 20px;
  }
  
  .glass {
    min-height: 80vh;
    width: 60%;
    
    display: flex;
  }
  
  .dashboard {
    flex: 1;
    display: flex;
    flex-direction: column;


    text-align: center;
    padding: 20px 10px;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    );
    border-radius: 2rem;
    height: 545px;
  }

  a:link{
    text-decoration: none;
  }

  .link {
    display: flex;
    margin: 10px 0px;
    padding: 10px 20px;
    align-items: center;
  }
  .link h2 {
    padding: 0rem 40px;
    min-width: 190px;
  }

  .link img{
      width: 40px;
      height: 40px;
  }
  
  .tasks {
    flex: 2;
    /* text-align: center; */
  }
  
  .autorzy {
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    border-radius: 2rem;
    color: white;
    padding: 1rem;
    position: relative;
    margin:20px;
  }

  .autorzy h2 {
    color: white;
    font-weight: 600;
  }
  
  /* tasks */
  .task-state {
    margin-bottom: 10px;
    min-width: 230px;
  }
  
  .tasks {
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
  }
  
  .card {
    display: flex;
    background: linear-gradient(
      to left top,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.5)
    );
    border-radius: 1rem;
    margin: 10px 10px;
    padding: 20px;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);


    min-width: 230px;
    flex-direction: column;
  }
  
  .card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }


  .card-info h2{
    padding-bottom: 20px;
    font-weight: 1000;
  }

  
.delete-task {
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    background: linear-gradient(to right top, #57c0ad, #6cdbeb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }