* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-align: center;
}

/* HEADER */
header {
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 30px;
}

header h1 {
    font-family: 'Berlin Sans';
    font-size: 50px;
    margin: 20px;
}

header ul {
    list-style-type: none;
}

/* MAIN */
main {
    margin: auto;
    display: block;
    background-color: blanchedalmond;
    border-radius: 30px;
    padding: 20px;
}

main form {
    width: 300px;
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: start;
}

main form table {
    background-color: violet;
}

hr {
    color: #3333cc;
    width: 300;
    text-align: left;
}

a {
    color: #000000;
}


/* FOOTER */
footer {
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 30px;
}